version: '3.9'

services:
  client:
    image: cloudcarbonfootprint/client:latest
    ports:
      - '80:80'
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api
  api:
    image: docker.io/cloudcarbonfootprint/api:latest
    ports:
      - '4000:4000'
    volumes:
      - $HOME/.aws/credentials:/root/.aws/credentials
    environment:
      # set the CACHE_MODE to MONGODB to use MongoDB
      - CACHE_MODE=LOCAL
      - AWS_USE_BILLING_DATA=true
      - AWS_TARGET_ACCOUNT_ROLE_NAME=${AWS_TARGET_ACCOUNT_ROLE_NAME}
      - AWS_ATHENA_DB_NAME=${AWS_ATHENA_DB_NAME}
      - AWS_ATHENA_DB_TABLE=${AWS_ATHENA_DB_TABLE}
      - AWS_ATHENA_REGION=${AWS_ATHENA_REGION}
      - AWS_ATHENA_QUERY_RESULT_LOCATION=${AWS_ATHENA_QUERY_RESULT_LOCATION}
      - AWS_BILLING_ACCOUNT_ID=${AWS_BILLING_ACCOUNT_ID}
      - AWS_BILLING_ACCOUNT_NAME=${AWS_BILLING_ACCOUNT_NAME}
      - MONGODB_URI=${MONGODB_URI}
